{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="panel-body">
    <div id="career-form" class="form-horizontal" role="form">
      <h1>FORM</h1>
      <form role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <p class="error">
          {% for error in form.non_field_errors %}
          {{ error }}
          {% endfor %}
        </p>
        {% endif %}
         {% block datejs %}
          {{ block.super }}
        {% endblock %}
        {% for field in form %}
        <div class="form-group">

          {{ field.label_tag }}
          <div class="col-md-9">
            {{ field }}
            <br>
            {% if field.errors %}
            <p class="error">
              {% for error in field.errors %}
              * {{ error }}
              {% endfor %}
            </p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-md-7">
            <button type="submit" class="btn btn-info" style="display: table;margin: 0 auto;">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}