{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="panel-body">
    <div id="career-form" class="form-horizontal" role="form">
      <h1>FORM</h1>

      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">

          {{ form.fullname.errors }}
          <label for="fullname" class="col-md-3 control-label">Full name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="fullname" placeholder="Full name">
          </div>
        </div>

        {% block datejs %}
          {{ block.super }}
        {% endblock %}
        <div class="form-group">
          {{ form.birthday.errors }}
          <label for="birthday" class="col-md-3 control-label">Birthday</label>
          <div class="col-md-9">
            <input id="datepicker" type="text" class="form-control" name="birthday" placeholder="Birthday">
          </div>
        </div>

        <div class="form-group">
          {{ form.gender.errors }}
          <label for="gender" class="col-md-3 control-label">Gender</label>
          <div class="col-md-9">
            <select name="gender" class="form-control" title="">
                <option value="None selected">Please select below</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
                etc.
            </select>
          </div>
        </div>

        <div class="form-group">
          {{ form.email.errors }}
          <label for="email" class="col-md-3 control-label">Email</label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="email" placeholder="Email">
          </div>
        </div>

        <div class="form-group">
          {{ form.phone.errors }}
          <label for="phone" class="col-md-3 control-label">Phone</label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="phone" placeholder="Phone">
          </div>
        </div>

        <div class="form-group">
          {{ form.address.errors }}
          <label for="address" class="col-md-3 control-label">Address</label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="address" placeholder="Address">
          </div>
        </div>

        <div class="form-group">
          {{ form.attachment.errors }}
          <label for="attachment" class="col-md-3 control-label">Attachment</label>
          <div class="col-md-9">
            {{ form.attachment }}
          </div>
        </div>

        <div class="form-group">
          {{ form.captcha.errors }}
          <label for="captcha" class="col-md-3 control-label">Captcha</label>
          <div class="col-md-9">
            {{ form.captcha }}
          </div>
        </div>

        <div class="form-group">
          <!-- Button -->
          <div class="col-md-offset-3 col-md-9">
            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}