{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="navbar navbar-default navbar-static">
        <div class="navbar-header" align="centre"><a class="navbar-brand" href="#"
                                                     contenteditable="false">EmpireCraft</a>

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#" class="" contenteditable="false">Home</a>

            </li>
            <li class="divider-vertical"></li>
            <li><a href="#" class="" contenteditable="false">About</a>

            </li>
            <li><a href="#" class="">Contact</a>

            </li>
        </ul>
    </div>
    <div class="jumbotron">
        <h1 class="">Welcome to EmpireCraft.&nbsp;</h1><span class="">Owned By Sizzle!</span>

    </div>
    <div class="row"></div>
    <div class="well">Welcome to my server! We're a very friendly and encouraging server for
        you and your adventures!
        <br class="">
        <br class="">Join us today for a heck of a experience at : <strong class="">107.170.107.18:25565 </strong>

        <br class="">We have a huge server with over 30 slots and lots of RAM with a huge connection
        to statify your playing needs!
    </div>
</div>
<div class="row"></div>
{% endblock content %}
