{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="col-md-6">
        <div id="logbox">
            <form id="signin" method="post" action="">
                {% csrf_token %}
                <h1>Account login</h1>
                <input name="email" type="email" placeholder="enter your email" class="input pass"/>
                <input name="password" type="password" placeholder="enter your password" required="required"
                       class="input pass"/>
                <input type="submit" value="Sign me in!" class="inputButton"/>
                <div class="text-center">
                    <a href="/user/signup" id="signup">Create an account</a> - <a href="/user/forgot-password"
                                                                                  id="forgot-password">forgot
                    password</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
