{% extends "base.html" %}



{% block content %}
<h1>{{ name }} is working</h1>
<h2>Parent page</h2>

<form action="" method="GET">
    <input type="text" placeholder="Search" name="search">
    <input type="submit" value="Submit">
</form>


{% for i in object_list %}
<h3><a href={{ i.get_absolut_url }}>{{ i.name }} </a><br></h3>
{% if i.image %}
<img src='{{ i.image.url }}' alt={{ name }} class="img-responsive">
{% endif %}
<!--detail url is /articles/id-->
<!--<a href={% url "articles:article_detail" id=i.id %}>{{ i.id }} <br></a>-->
<!--<a href={% url "articles:article_detail" id=i.id %}>{{ i.title }} <br><br></a>-->
<a href={{ i.get_absolut_url }}>{{ i.id }} </a><br>
<a href={{ i.get_absolut_url }}>{{ i.title }} </a><br>
{{ i.image }} <br>
{{ i.content }} <br>
<h3>{{ i.timestamp }} <br></h3>
<h3><a href="{{ i.get_absolut_url }}edit/">Edit</a></h3>
<hr>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>
        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>


{% endblock content %}