{% extends "base.html" %}
{% block content %}
<h1>{{ name }} is working</h1>
<p>Parent page</p>
{% for i in object_list %}
<!--detail url is /articles/id-->
<!--<a href={% url "articles:article_detail" id=i.id %}>{{ i.id }} <br></a>-->
<!--<a href={% url "articles:article_detail" id=i.id %}>{{ i.title }} <br><br></a>-->
<a href={{ i.get_absolut_url }}>{{ i.id }} </a><br>
<a href={{ i.get_absolut_url }}>{{ i.title }} </a><br>
{{ i.content }} <br>
{{ i.timestamp }} <br>
{% endfor %}
{% endblock content %}